.btn {
  border: 2px solid white;
  color: white;
  background: #009ade;
  border: 0;
  outline: 0;
  position: relative;
  border-radius: 5px;
  float: left;
  font-family: 'Open Sans',sans-serif;
  font-size: 16px;
  padding: 10px 20px;
  text-decoration: none;
  display: inline-block;
  // margin: 15px 30px;
  -webkit-transition: all 0.3s;
	-moz-transition: all 0.3s;
	transition: all 0.3s;
  text-transform: uppercase;
  font-weight: bold;  
}

.btn:hover {
  cursor: pointer;
  color: #fdfefe;
	background: #1b7cb0;
}
