$colors: (
  darkblue: #14273B,
  lightblue: #093D55,
  lightgreen: #5ec99c,
  darkgreen: #5ec99c,
  grey: #ddd,
  base: #333333,
  offwhite: #f2f2f2,
  white: #ffffff,
  links: #5ec99c,
  linksHover: #5ec99c,
  buttonPrimary: #5ec99c,
  buttonSecondary: #5ec99c,
  success: rgb(171, 255, 201),
  notice: #c4ecff,
  error: rgba(255, 184, 184, 0.38)
);
