// Font sizes
$font-xxxs:   13px;
$font-xxs:    14px;
$font-xs:     16px;
$font-s:      18px;
$font-m:      22px;
$font-l:      24px;
$font-xl:     34px;
$font-xxl:    44px;
$font-xxxl:   55px;

// Fonts
$font-primary: 'Open Sans', sans-serif;
$font-secondary: 'Open Sans', serif;

$font-marquee: 'PT Sans', serif;

// Font sizes
$base:        16px;

$heading1:    46px;
$heading2:    36px;
$heading3:    24px;

$quotes:    22px;

$author-footer-bio: 16px;
$author-footer-name: 22px;

$article-info: 15px;
$article-more: 20px;

$post-divider: 16px;

$bio: 15px;



/* -----
SVG Icons - svgicons.sparkk.fr
----- */

// .svg-icon {
//   width: 1em;
//   height: 1em;
// }
//
// .svg-icon path,
// .svg-icon polygon,
// .svg-icon rect {
//   fill: #4691f6;
// }
//
// .svg-icon circle {
//   stroke: #4691f6;
//   stroke-width: 1;
// }
