
.author-image {
  position: relative;
  background-color: #fff;
  top: 28px;
  width: 35px;
  margin: 0 auto;
  padding: 10px;
  padding-left: 0;
  padding-right: 0;
}

.author-image-wrapper {
  border-bottom: 1px solid color(grey);
}

.post-title {
  text-align: center;
  margin-top: 1em;
  //font-size: rem($heading2);

  &:after {
    content: '';
    display: block;
    width: 74px;
    border-bottom: 1px solid #ddd;
    margin: 1em auto;
  }
}

.single {
  .post-title {
    text-align: center;
    margin-top: 45px;
    //font-size: rem($heading2);
    margin-bottom: 9px;

    &:after {
      content: '';
      display: none;
    }
  }

  .author-byline {
    text-transform: none;

    @include respond-to(400, 'max') {
      margin-bottom: 0;
    }
  }

  .author-time {
    font-style: normal;
  }

  .author-meta {
    margin-bottom: 2em;
  }

  .author-image-wrapper {
    margin-top: 0em;
    border: none;
  }

  .author-image {
    top: 0;
    // width: 40px;
  }

}

.author-meta {
  text-align: center;
  font-size: 13px;
  margin-bottom: 2em;
}

.author-meta + img {
  width: 100%;
}

.author-time,
.author-byline {
  display: inline;
}

.author-time {
  //font-style: italic;
  font-family: $font-primary;
}

.author-byline {
  display: block;
  text-align: center;
  font-family: $font-primary;
  letter-spacing: 1px;
  margin: 0;
  font-size: 12px;

  a {
    @include respond-to(400, 'max') {
      display: inline-block;
    }
  }

  @include respond-to(400, 'max') {
    //margin-bottom: 1.4em;
    line-height: 1.6;
  }
}

.author-footer {
  padding: rem($space-l) 0;
  margin: rem($space-l) 0;
  border-top: 1px solid color(borders);

  @include respond-to(900, 'max') {
    flex-direction: column;
  }
}

.author-footer-avatar {
  margin-right: rem($space-s);

  @include respond-to(900, 'max') {
    margin-right: 0;
    margin-bottom: rem($space-s);
    align-self: center;
    width: 100%;
  }
}

.author-contact {
  @include respond-to(900, 'max') {
    justify-content: center;
    width: 100%;
    display: flex;
    margin: rem($space-s) 0;
  }

  @include respond-to(400, 'max') {
    flex-direction: column;
    margin-top: 0;
  }
}

.author-footer-bio {
  font-size: rem($bio);
  margin: 0 0 0 rem($space-m);

  @include respond-to(900, 'max') {
    text-align: center;
    margin-left: 0;
  }

  > p:first-of-type {
    margin-top: 0;
  }

  p:last-child {
    margin-top: 0;
    max-width: 100%;

    @include respond-to(900, 'max') {
      width: 80%;
      text-align: center;
      margin: 0 auto;
    }

    @include respond-to(400, 'max') {
      width: 100%;
    }

  }
}

.author-footer-name {
  margin: 0 rem($space-l / 2) 0 0;
  font-size: rem($author-footer-name);
  font-weight: bold;

  @include respond-to(900, 'max') {
    margin: 0;
    display: flex;
    width: 100%;
    font-size: rem(24px);
    justify-content: center;
  }

}

.author-footer-social {
  margin: rem(2px) rem(18px) rem(5px) rem(10px);

  @include respond-to(400, 'max') {
    margin-top: rem($space-s);
  }
}

.author-footer-donations {
  margin: rem(5px) 0 0 rem(3px);

  @include respond-to(900, 'max') {
    margin-right: rem(84px);
    text-align: center;
  }

  @include respond-to(400, 'max') {
    margin-bottom: rem($space-s / 2);
    margin-top: rem($space-s);
  }

}

.author-footer-social,
.author-footer-donations {
  float: left;
}

.author-name {
  text-align: center;
  font-size: 17px;
  font-weight: bold;
  margin: 0;
}


.author-wrapper {
  width: 300px;
  margin: 0 1em;

  @include respond-to(600, 'max') {
    margin-bottom: 4em;
  }

  &:last-child {
    @include respond-to(600, 'max') {
      margin-bottom: 0;
    }
  }
}

.author-image-footer {
  width: 30%;
  margin: 0 auto 1.5em auto;
}

.author-name {
  text-align: center;
  font-family: $font-primary;
}

.author-social-links {
  list-style: none;
  margin: 0 0 1.5em 0;
  width: 100%;
  display: flex;
  justify-content: center;
}

.author-social-link {
  text-transform: uppercase;
  font-family: $font-primary;
  text-align: center;
  // display: inline;
  width: 100%;
  font-size: $font-xxs;
}

.author-social-link-wrapper {
  display: inline;
  float: left;
  margin-right: 10px;
}
