.widget {
  padding: 0 2em;
  font-size: 14px;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  // border-right: 1px solid color(grey);
  width: 25%;
  flex: 0 0 25%;

  @include respond-to(900, 'max') {
    width: 50%;
    flex: 0 0 50%;
    padding-bottom: 2em;
  }

  @include respond-to(700, 'max') {
    width: 100%;
    margin-bottom: rem($space-xl);
    margin-top: 0;
    margin-left: 0;
    padding: 0;
    flex: 0 0 auto;
  }

  &:nth-child(even) {
    @include respond-to(900, 'max') {
      border-right: none;
      margin-top: 0;
    }

    @include respond-to(700, 'max') {
      margin-top: 0;
    }
  }

  &:nth-child(odd) {
    @include respond-to(700, 'max') {
      border-right: none;
    }
  }

  &:first-child {
    padding-left: 0;

    @include respond-to(900, 'max') {
      padding-left: 2em;
    }

    @include respond-to(700, 'max') {
      padding-left: 0;
    }
  }

  &:last-child {
    border-right: 0;
    padding-right: 0;
  }

  ul {
    margin-top: 0;
  }

  h3 {
    margin-bottom: 0;
  }

  .mc4wp-form {
    margin-top: 1em;
  }

  .mc4wp-form-submitted {
    margin-top: 0;
  }
}

.widget-social {

  @include respond-to(700, 'max') {
    margin-top: rem($space-l);
  }

  @include respond-to(600, 'max') {
    .widget-title {
      margin-bottom: 1em;
    }
  }

}

.widget-signature {

  img {
    @include respond-to(900, 'max') {
      max-width: 70%;
      margin: 0 auto;
    }
  }

}
.widget h3,
.widget-title {
  font-weight: normal;
  text-transform: none;
  margin: 0 0 rem(10px) 0;
  font-size: $font-xs;
  text-align: left;

  @include respond-to(600, 'max') {
    font-size: rem($heading3);
  }

  @include respond-to(700, 'max') {
    text-align: center;
  }
}

.widget_text,
.widget-customer-service,
.widget-social {
  text-align: center;
}

.widget_black_studio_tinymce .textwidget,
.widget_text .textwidget {
  margin-top: .5em;
}

.widget_text .textwidget,
.widget_black_studio_tinymce .textwidget p,
.widget_text p,
.widget-customer-service p {
  text-align: left;

  &:first-child {
    margin-top: 0;
  }
}

.widget-social-links {
  list-style: none;
  margin: 0;
}

.widget-social-item {
  float: left;
  margin-right: 10px;

  @include respond-to(600, 'max') {
    width: 48%;

    a {
      width: 100%;
    }

    &:last-child {
      margin-right: 0;
    }
  }
}

.widget-social-link {
  @include drop-shadow();
  padding: 1em;
  font-family: $font-primary;
}

.is-modal .remodal-wrapper {
  background-color: rgba(255, 255, 255, 0.9);
}

.remodal-wrapper.remodal-is-opened {
  transition: opacity 0.5s ease;
}

.remodal-wrapper.remodal-is-opened .remodal-is-initialized {
  opacity: 1;
  transition: opacity 0.5s ease;
}

.remodal-is-initialized {
  opacity: 0;
  transition: opacity 0.5s ease;
}

.is-phone .fb-page.fb_iframe_widget {
  width: 350px;
}

.remodal {
  opacity: 0;
  transition: opacity 0.5s ease;

  @include drop-shadow();

  @include respond-to(1000, 'max') {
    top: -100px;
  }

  @include respond-to(400, 'max') {
    //top: -100px;
  }
}
