.unpacked-heading {
  font-weight: bold;

  @include respond-to(500, 'max') {
    font-size: $heading3;
  }
}

.component-unpacked-wrapper {
  padding: 0em 3em 1em;

  @include drop-shadow();

  @include respond-to(700, 'max') {
    padding: 0 1em;
  }
}
