.form,
.search-form {
  width: 100%;
  max-width: 900px;
}

.form-lg {
  .form-input,
  .btn {

  }
}

.form-control {
  position: relative;
  margin-right: 10px;
  margin-top: 0;

  p {
    margin: 0;
  }

  input {
    margin: 0;
    border-radius: 10px;
  }
}

.form-label {
  position: absolute;
  left: $space-m;
  top: 28px;
  font-size: $font-m;
  color: color(secondary);
  opacity: $opacity-hard;
  transition: all 0.2s ease;

  @include device(900, 'max') {
    top: 17px;
  }

  &:hover {
    cursor: text;
  }
}

.form-label-l {
  font-size: $font-l;

  @include device(900, 'max') {
    font-size: $font-m;
  }

}

.is-focused {

  .form-label {
    font-size: 14px;
    opacity: 1;
    left: -20px;
    top: -20px;
    background: color(white);
    padding: 10px 15px;
    border-radius: 5px;

    &:hover {
      cursor: text;
    }
  }

  .form-input {
    // border-color: color(white);
    border: none;
    // box-shadow: 5px 5px 10px 10px rgba(221,221,221,.82);
  }

}

.form-input {}

input,
textarea,
select {
  width: 100%;
  padding: $space-m;
  border-radius: 5px;
  // border: 1px solid rgba(221,221,221,.82);
  font-size: $font-m;
  border: none;
  background: color(white);
  color: color(secondary);

  &:focus {
    border: 1px solid rgba(221,221,221, 1);
  }

  @include device(900, 'max') {
    padding: 1em;
    font-size: 1em;
  }

}

.form-input-l {
  font-size: $font-l;

  @include device(900, 'max') {
    font-size: $font-m;
  }
}

// input,
// textarea,
// .btn {
//   padding: 1em;
//   font-size: 20px;
//   border-radius: 5px;
// }

input[type="number"] {
  max-width: 50px;
  text-align: center;
}

#mailinglist-email {
  width: 100%;
  outline: none;
  margin-bottom: 1em;
}

#mailinglist-form {
  margin-top: 1em;

  .form-control {
    margin-right: 0;
  }

  .btn {
    margin: 0 auto;
  }
}

.form-message {
  text-align: center;

  &.is-visible {
    padding: 1em .5em;
    border-radius: 40px;
  }
}

.form-error {
  background-color: color(error);
}

.form-success {
  background-color: color(success);
}


.is-submitted {
  .form-messages,
  .form-message {
    margin-top: 0;
  }

  .form-control {
    display: none;
  }

}
