// .nav-mobile {
//   opacity: 0;
// }

.nav-mobile {
  background-color: color(darkblue);
  padding: 0.5em 0 1em;
  height: 100%;

  .menu-item {
    text-align: left;
    float: none;
    margin: 0.5em 0;
    text-transform: uppercase;
    font-size: 18px;
    margin: 0;
    width: 100%;

    &.active {
      a {
        color: color(lightgreen);
      }
    }

    &:focus,
    &:hover {
      color: color(green);
    }

    a {
      font-family: $font-primary;
      width: 100%;
      display: block;
      padding: 1em;
      color: white;

      &:focus,
      &:hover {
        color: color(lightgreen);
      }
    }
  }
}


.menu-mobile-toggle {
  display: none;
  overflow: hidden;
  margin: 0;
  padding: 0;
  width: 50px;
  height: 50px;
  font-size: 0;
  text-indent: -9999px;
  appearance: none;
  box-shadow: none;
  border-radius: none;
  border: none;
  cursor: pointer;
  transition: background 0.3s;
  color: color(darkblue);
  background: transparent;
  position: absolute;
  right: 10px;
  top: 12px;

  @include respond-to(800, 'max') {
    //display: block;
  }
}

.menu-mobile-toggle:focus {
  outline: none;
}

.menu-mobile-toggle span {
  display: block;
  position: absolute;
  top: 28px;
  left: 10px;
  right: 18px;
  height: 4px;
  background: color(darkblue);
  width: 65%;
}

.menu-mobile-toggle span::before,
.menu-mobile-toggle span::after {
  position: absolute;
  display: block;
  left: 0;
  width: 100%;
  height: 4px;
  background-color: color(darkblue);
  content: "";
}

.menu-mobile-toggle span::before {
  top: -10px;
}

.menu-mobile-toggle span::after {
  bottom: -10px;
}

.menu-mobile-toggle span {
  transition: background 0s 0.3s;
}

.menu-mobile-toggle span::before,
.menu-mobile-toggle span::after {
  transition-duration: 0.3s, 0.3s;
  transition-delay: 0.3s, 0s;
}

.menu-mobile-toggle span::before {
  transition-property: top, transform;
}

.menu-mobile-toggle span::after {
  transition-property: bottom, transform;
}

/* active state, i.e. menu open */
.menu-mobile-toggle.is-active {}

.menu-mobile-toggle.is-active span {
  background: none;
}

.menu-mobile-toggle.is-active span::before {
  top: 0;
  transform: rotate(45deg);
}

.menu-mobile-toggle.is-active span::after {
  bottom: 0;
  transform: rotate(-45deg);
}

.menu-mobile-toggle.is-active span::before,
.menu-mobile-toggle.is-active span::after {
  transition-delay: 0s, 0.3s;
}
//
//
// .slideout-menu {
//   position: fixed;
//   //left: auto;
//   top: 0;
//   bottom: 0;
//   z-index: 0;
//   display: none; //remove
//
//   right: -256px;
//   width: 256px;
//   overflow-y: auto;
//   -webkit-overflow-scrolling: touch;
// }
//
// .slideout-panel {
//   position:relative;
//   z-index: 1;
// }
//
// .slideout-open,
// .slideout-open body,
// .slideout-open .slideout-panel {
//   overflow: hidden;
// }
//
// .slideout-open .slideout-menu {
//   display: block;
// }

// .slideout-open {
//   .nav-mobile {
//     opacity: 1;
//   }
// }


.slideout-menu {
  position: fixed;
  top: 0;
  bottom: 0;
  right: 0;
  //z-index: 999999999;
  width: 256px;
  overflow-y: auto;
  -webkit-overflow-scrolling: touch;
  display: none;
}

.slideout-panel {
  background-color: #fff;
  position:relative;
  z-index: 1;
  will-change: transform;
  display: flex;
  flex-direction: column;
  flex: 1;
}

.slideout-open,
.slideout-open body,
.slideout-open .slideout-panel {
  overflow: hidden;
}

.slideout-open .slideout-menu {
  display: block;
}
