h1, h2, h3, h4, h5, h6, .at-cv-lightbox-message {
  font-family: $font-primary;
  line-height: 1.1;
  color: color(headings);

  a {
    text-decoration: none;
    color: color(headings);
  }

  + p {
    margin-top: 0.5em;
  }

}

h1 {
  font-size: em($heading1);
  margin: 0 0 0.3em 0;
  font-weight: bold;

  @include respond-to(600, 'max') {
    font-size: rem($heading2);
  }
}

h2,
.at-cv-lightbox-message {
  font-size: em($heading2);
}

h3 {
  font-size: em($heading3);
}

a {
  color: color(links);
  text-decoration: none;
}

.entry-title {
  text-align: center;
  margin-top: 0;
  margin-bottom: 0.4em;

  a {
    color: color(links);

    &:hover {
      color: darken(color(links), 30);
    }
  }

}

.entry-summary {
  position: relative;

  &:after {
    background-image: linear-gradient(to bottom, rgba(255,255,255,0), #fff 82%);
    bottom: 0;
    content: '';
    height: 8.2608em;
    left: 0;
    position: absolute;
    right: 0;
  }
}


.widget-customer-service,
.entry-summary,
.entry-content,
.textwidget,
.author-byline,
.author-social-links {

  a {
    color: color(links);

    &[rel~="attachment"] {
      border: none;
      box-shadow: none;

      &:hover {
        background: none;
      }
    }

    &:hover {
      color: darken(color(links), 30);
    }

  }

}

blockquote {
  padding: 0 0 0 rem(35px);
  font-style: italic;
  border-left: 3px solid color(borders);
  margin: 2.5em 0 2.5em 1.5em;
  position: relative;
  width: 120%;
  left: -14%;
  font-size: rem($quotes);

  @include respond-to(500, 'max') {
    margin-left: 0;
  }
}
