$colors: (
  primary: #5adc9a,
  secondary: #2a2a2a,
  black: #000,
  white: #ffffff,
  water: #061e37,
  skyLight: #FFEDBC,
  skyDark: #e55d5d,
  success: rgb(171, 255, 201),
  notice: #c4ecff,
  error: rgba(255, 184, 184, 1)
);
