.header {
  margin-top: 0;
  padding: $space-s 0;
  background: transparent;
}

.flexboxtweener .logos {
  display: none;
}


.logo-shopify {
  max-width: 110px;
  margin: 0 auto;
  display: block;
  margin-right: auto;
  margin-left: 1em;
  opacity: $opacity-hard;

  @include device(500, 'max') {
    max-width: 86px;
  }
}

.logo-wordpress {
  max-width: 155px;
  margin-left: auto;
  margin-right: 1em;
  display: block;
  opacity: $opacity-hard;
  position: relative;
  top: 3px;

  @include device(500, 'max') {
    max-width: 130px;
  }
}


.flexboxtweener {
  .marquee {
    left: 50px;
  }
}

.marquee-wrapper {
  margin-top: 0;
}




.logo-header {
  width: 70px;
  height: 70px;
}

.logo-link {
  border: none;
}
