.header {
  margin-top: 0;
}

.flexboxtweener .logos {
  display: none;
}


.logo-shopify {
  max-width: 110px;
  margin: 0 auto;
  display: block;
  margin-right: auto;
  margin-left: 1em;
  opacity: $opacity-hard;

  @include device(500, 'max') {
    max-width: 86px;
  }
}

.logo-wordpress {
  max-width: 155px;
  margin-left: auto;
  margin-right: 1em;
  display: block;
  opacity: $opacity-hard;
  position: relative;
  top: 3px;

  @include device(500, 'max') {
    max-width: 130px;
  }
}

.marquee {
  position: relative;
  top: -100px;

  @include device(600, 'max') {
    top: -9%;
  }

  @include device(500, 'max') {
    top: -15%;
  }

  .fa {
    color: color(white);
    font-size: $font-xxl;
    display: block;
    text-align: center;
    position: relative;
    bottom: -200px;
  }
}

.flexboxtweener {
  .marquee {
    left: 50px;
  }
}

.marquee-wrapper {
  margin-top: 0;
}

.marquee-heading {
  font-size: $font-xl*5;
  text-transform: uppercase;
  font-family: $font-secondary;
  letter-spacing: -3px;
  text-align: center;
  color: color(white);
  position: relative;
  font-size: 180px;
  text-shadow: 0 0 color(white),0 1px transparent,5px 5px rgba(59, 117, 127, 0.3),5px 5px rgba(255,255,255,0);
  margin: 0;

  @include device(1500, 'max') {
    font-size: 160px;
  }

  @include device(900, 'max') {
    font-size: 18vw;
  }

  @include device(600, 'max') {
    font-size: 15vw;
    letter-spacing: 0px;
  }

  span, span:after {
    font-weight: 900;
    color: color(white);
    white-space: nowrap;
    display: inline-block;
    position: absolute;
    top: 0;
    left: 0;
    text-align: center;
    width: 100%;
    padding: 0;
  }

  span {
    font-size: 1em;
    z-index: 100;
    text-shadow: 0.04em 0.04em 0 rgba(0, 0, 0, 0);
  }

  span:after {
    content: attr(data-shadow-text);
    color: rgba(0,0,0,.40);
    text-shadow: none;
    position: absolute;
    left: .055em;
    top: .055em;
    z-index: -1;
    -webkit-mask-image: url('../imgs/mask-new.png');
    -webkit-mask-size: 25%;
  }

}




.no-cssmask {
  .marquee-heading {
    span:after {
      color: rgba(0,0,0,.10);
    }
  }
}




.marquee-copy {
  font-size: $font-l;
  color: color(white);
  text-align: center;
  margin: 0.5em auto 1.5em;

  @include device(1100, 'max') {
    max-width: 60vw;
  }

  @include device(900, 'max') {
    font-size: $font-m;
  }

  @include device(600, 'max') {
    font-size: 1em;
    max-width: 90vw;
  }

}

.home .header {
  // background: color(skyLight);
  // background: -webkit-linear-gradient(to top, color(skyLight), color(skyDark));
  // background: linear-gradient(to top, color(skyLight), color(skyDark));

  background-image: repeating-radial-gradient(ellipse farthest-corner at center bottom,#ffe89a 0, #91dbff 100%);
















  min-height: 100vh;
  height: 100vh;
  overflow: hidden;
  position: relative;
}


.cloud1 {
  // animation: cloudSway 40s linear;
  animation-iteration-count: infinite;
  top: 170px;
  right: 60px;
  width: 300px;
  z-index: 1;

  @include device(1200, 'max') {
    top: 50px;
  }

  @include device(1000, 'max') {
    top: 7vh;
    right: 0vw;
  }

  @include device(700, 'max') {
    top: 4vh;
    right: -16vw;
  }

  @include device(500, 'max') {
    top: 3vh;
    right: -39vw;
  }

  @include device(400, 'max') {
    display: none;
  }

}

.cloud2 {
  // animation: cloudSway 40s linear;
  animation-iteration-count: infinite;
  width: 300px;
  top: 250px;
  left: 0px;

  @include device(1200, 'max') {
    top: 284px;
    left: -85px;
  }

  @include device(1000, 'max') {
    top: 50vh;
    left: -5vw;
  }

  @include device(700, 'max') {
    left: -17vw;
  }

  @include device(500, 'max') {
    left: -40vw;
    top: 57vh;
  }

}

.cloud3 {
  // animation: cloudSway 40s linear;
  animation-iteration-count: infinite;
  top: 475px;
}

.cloud4 {
  // animation: cloudSway 40s linear;
  animation-iteration-count: infinite;
  right: 300px;
  width: 150px;
  top: 470px;

  @include device(1200, 'max') {
    right: 200px;
    top: 570px;
  }

  @include device(1000, 'max') {
    right: 4vw;
    top: 65vh;
  }

  @include device(500, 'max') {
    right: -10vw;
  }

}

.cloud5 {
  // animation: cloudSway 40s linear;
  animation-iteration-count: infinite;
  top: 10px;
  left: 100px;
  width: 300px;

  @include device(1000, 'max') {
    top: -2vh;
    left: 3vw;
  }

  @include device(500, 'max') {
    left: -46vw;
    top: 0;
  }

  @include device(400, 'max') {
    display: none;
  }

}

.cloud {
  opacity: 0.6;
  position: absolute;
}

.bridge {
  position: absolute;
  top: 17.6%;
}

.bubble-s {
  opacity: 0;
  position: absolute;
  width: 6px;
  height: 6px;
  border: solid 1px #fff;
  border-radius: 50%;
  margin: -15px 0 0 20px;
  transform-origin: center top;
  animation: bubble 6s linear forwards;
  animation-iteration-count: infinite;
}

.bubble-l {
  opacity: 0;
  position: absolute;
  width: 10px;
  height: 10px;
  border: solid 1px #fff;
  border-radius: 50%;
  margin: -15px 0 0 20px;
  transform-origin: center top;
  animation: bubble 12s linear forwards;
  animation-iteration-count: infinite;
}

@keyframes bubble {
  0% {
    opacity: 0;
  }

  10% {
    opacity: 0.3;
  }

  100% {
    transform: translateY(-50vh) rotate(-1280deg);
    opacity: 0;
  }
}


.bubble-1 {
  bottom: 0;
  left: 20px;
}

.bubble-2 {
  bottom: 0;
  right: 100px;
  animation-delay: 0.4s;
}

.bubble-3 {
  right: 300px;
  left: auto;
  bottom: 100px;
}

.bubble-4 {
  left: 300px;
  right: auto;
  bottom: 40px;
  animation-delay: 2.8s;
  width: 7px;
  height: 7px;
}

.bubble-5 {
  bottom: 145px;
  left: 50vw;
  animation-duration: 8s;
  animation-delay: 3s;
  width: 10px;
  height: 10px;
}

.bridge-new-left {
  position: absolute;
  bottom: -3%;
  width: 20vw;
  left: 0;
  margin-top: 0;


  @include device(1500, 'max') {
    bottom: -0%;
  }

  @include device(1300, 'max') {
    bottom: 0%;
  }

  @include device(1100, 'max') {
    width: 25vw;
  }

  @include device(600, 'max') {
    display: none;
  }

}

.bridge-new-right {
  position: absolute;
  bottom: -4%;
  width: 20vw;
  right: 0;
  margin-top: 0;
  z-index: 2;

  @include device(1500, 'max') {
    bottom: -0%;
  }

  @include device(1300, 'max') {
    bottom: 0%;
    top: auto;
  }

  @include device(1100, 'max') {
    width: 25vw;
  }

  @include device(600, 'max') {
    display: none;
  }

}



.bridge-some {
  position: absolute;
  top: 82vh;
  left: 16vw;
  width: 68%;
}


.bridge-new-new {
  position: absolute;
  top: 41.6%;
  width: 100%;
  right: 0vw;
  margin-top: 0;
}


.sun {
  width: 200px;
  height: 200px;
  background-color: rgba(255, 239, 220, 0.5);
  position: absolute;
  bottom: -60%;
  border-radius: 50%;
  left: calc(50% - 100px);

  @include device(1100, 'max') {
    bottom: -50%;
  }

  @include device(900, 'max') {
    bottom: -65%;
  }

  @include device(700, 'max') {
    bottom: -70%;
  }

  @include device(600, 'max') {
    bottom: -90%;
  }

}
