.header {
  margin-top: 0;
}

.logos {
  margin-top: $space-m;
}

.logo-shopify {
  max-width: 110px;
  margin: 0 auto;
  display: block;
  margin-right: auto;
  margin-left: 1em;
  opacity: $opacity-hard;
}

.logo-wordpress {
  max-width: 155px;
  margin-left: auto;
  margin-right: 1em;
  display: block;
  opacity: $opacity-hard;
  position: relative;
  top: 3px;
}


.marquee {
  position: relative;
  top: -100px;

  .fa {
    color: color(white);
    font-size: $font-xxl;
    display: block;
    text-align: center;
    position: relative;
    bottom: -200px;
  }
}

.marquee-heading {
  font-size: $font-xl*5;
  text-transform: uppercase;
  font-family: $font-secondary;
  letter-spacing: -3px;
  text-align: center;
  color: color(white);
  position: relative;

  span, span:after {
      font-weight: 900;
      color: white;
      white-space: nowrap;
      display: inline-block;
      position: absolute;
      top: 0;
      left: 0;
      text-align: center;
      width: 100%;
      padding: 0;
  }

  span {
    font-size: 1em;
    z-index: 100;
    text-shadow: 0.04em 0.04em 0 rgba(135, 135, 135, 0);
  }

  span:after {
      content: attr(data-shadow-text);
      color: rgba(0,0,0,.20);
      text-shadow: none;
      position: absolute;
      left: .0575em;
      top: .0575em;
      z-index: -1;
      -webkit-mask-image: url('../imgs/mask.png');
  }






}

.marquee-copy {
  font-size: $font-l;
  color: color(white);
  text-align: center;
}




@-webkit-keyframes AnimationName {
    0%{background-position:93% 0%}
    50%{background-position:0% 100%}
    100%{background-position:93% 0%}
}
@-moz-keyframes AnimationName {
    0%{background-position:93% 0%}
    50%{background-position:0% 100%}
    100%{background-position:93% 0%}
}
@keyframes AnimationName {
    0%{background-position:93% 0%}
    50%{background-position:0% 100%}
    100%{background-position:93% 0%}
}

.landing .header {
  background: linear-gradient(-47deg, #6bee56, #44dde6, #a1bbf3);
  background-size: 600% 600%;

  -webkit-animation: AnimationName 25s ease infinite;
  -moz-animation: AnimationName 25s ease infinite;
  animation: AnimationName 25s ease infinite;



  min-height: 100vh;
  height: 100vh;

  // &:after {
  //   position: absolute;
  //   width: 100%;
  //   bottom: 0;
  //   height: 150px;
  //   content: '';
  //   display: block;
  //   /*W3C Syntax (Chrome 26 and above)*/
  //   background-image:radial-gradient(circle at center -10px, rgba(79,141,198,0), rgba(79,141,198,0) 80px,  rgba(255,255,255,1) 0, rgba(255,255,255,1) 80px, rgba(92,163,224,1) 0),
  //                    radial-gradient(circle at left -10px, white, white 80px, transparent 0),
  //                    radial-gradient(circle at right -10px, white, white 80px, rgba(161,216,247,1) 0);
  //
  //   background-repeat:repeat-x;
  //   background-size: 100px 80px;
  //   background-color:rgba(92,163,224,1);
  //   animation:.8s wave linear infinite alternate;
  // }

}


.cloud1 {
  animation: cloud1 98s linear;
  animation-iteration-count: infinite;
  position: absolute;
  top: 25px;
}

.cloud2 {
  animation: cloud2 88s linear;
  animation-iteration-count: infinite;
  position: absolute;
  top: 55px;
}

.cloud3 {
  animation: cloud3 168s linear;
  animation-iteration-count: infinite;
  position: absolute;
  top: 475px;
}

.cloud4 {
  animation: cloud4 88s linear;
  animation-iteration-count: infinite;
  position: absolute;
  top: 700px;
}

.cloud5 {
  animation: cloud5 168s linear;
  animation-iteration-count: infinite;
  position: absolute;
  top: 425px;
}

.cloud {
  opacity: 0.1;
}

.bridge {
  position: absolute;
  top: 13%;
  display: none;
}
