.main {
  width: 100%;
  margin-bottom: 3em;
  margin: 0 auto;
  position: relative;
  justify-content: center;

  @include device(600, 'max') {
    margin-bottom: 0;
  }

}

.wrap {
  margin-top: 0;
}

.content {
  max-width: 1400px;
  margin: 0 auto;
}
