.seperator {
  width: 100px;
  transform: rotate(180deg);
  margin: $space-xxl auto;
}

.diamonds {
  border: none;
  height: 40px;
  margin: 0 50px;
  background: linear-gradient(-135deg, rgba(255, 255, 255, 1) 20px, rgba(0, 0, 0, 0) 0) 0 5px, linear-gradient(135deg, rgba(0, 0, 0, 0.2) 20px, transparent 0) 0 5px;
  background-color: rgba(0, 0, 0, 0);
  background-position: center bottom;
  background-repeat: repeat-x;
  background-size: 26px 60px;
  z-index: 50;
  margin-top: -60px;
}


.line {
  height: 1px;
  width: 100%;
  background: color(white);
}
