.form,
.mc4wp-form,
.mc4wp-form-fields,
#at-cvlbx-form,
.search-form {

  .at-cv-button:hover {
    color: white !important;
    background-color: color(lightgreen) !important;
  }

  .at-cv-button,
  input[type="submit"] {
    padding: .7em 1.5em;
    font-size: $font-xxxs;
    text-decoration: none;
    text-transform: uppercase;
    font-size: $font-xxs;
    font-family: $font-primary;

    @include button-hover();
    @include drop-shadow();

    @include respond-to(600, 'max') {
      width: 100%;
    }

  }

  .at-cv-input,
  input[type="search"],
  input[type="textarea"],
  input[type="text"],
  input[type="email"] {
    padding: rem($space-s + 3) rem($space-m + 5);
    width: 100%;
    margin-bottom: 10px;

    @include drop-shadow();
  }

}

.search-form {
  .screen-reader-text {
    display: none;
  }
}

.mc4wp-form-fields + .mc4wp-response {
  margin-top: 1em;
}
