.header {
  z-index: 1;
  width: 100%;
  max-width: 100%;
  //margin-bottom: 3em;
  background-color: white;
  // box-shadow: 0 3px 3px -2px #c1c1c1;
  // box-shadow: 0 4px 2px -2px gray;
  // border-bottom: 1px solid #c1c1c1;
  -webkit-tap-highlight-color: transparent;
  border-bottom: 1px solid color(grey);
}
.is-modal .header {
  z-index: -1;
}

.home .header-wrapper {
  border: none;
}

.blog .header {
  @include respond-to(600, 'max') {
    //margin-bottom: 4em;
  }
}

.single .header {
  margin-bottom: 0;
  @include respond-to(600, 'max') {
    margin-bottom: 0;
  }
}

.header-wrapper {
  padding: 0;
  flex-direction: row;
  width: 100%;
  position: relative;
  -webkit-tap-highlight-color: transparent;

  @include respond-to(800, 'max') {
    justify-content: flex-start;
    //padding-left: 1.6em;
  }

  .logo,
  .logo-mark {
    display: flex;
    margin-left: 0;

    @include respond-to(800, 'max') {
      flex: 0 0 calc((100%/4) - 2em);
      max-width: calc((100%/4) - 2em);
    }

    @include respond-to(500, 'max') {
      max-width: calc((100%/6) - 2em);
    }
  }

  .logo-mark {
    display: none;
  }
}

.header-clone {
  position: fixed;
  z-index: 99999;
  top: 0;
  left: 0;
  background-color: rgba(255,255,255, 1);
  border-bottom: 1px solid color(grey);
  max-width: 100%;

  -webkit-transform: translateY(-100%);
  -moz-transform: translateY(-100%);
  -ms-transform: translateY(-100%);
  -o-transform: translateY(-100%);
  transform: translateY(-100%);

  -webkit-transition: -webkit-transform 0.2s ease-out;
  -moz-transition: transform 0.2s ease-out;
  -o-transition: transform 0.2s ease-out;
  transition: transform 0.2s ease-out;


  .logo {
    display: none;
  }

  .logo-mark {
    display: flex;
  }

  .menu-item a {
    //color: color(darkblue);
  }

  .logo-fieldnotes,
  .logo-unpacked {
    width: 150px;
    height: 43px;
    background-size: cover;
  }

  .nav {
    padding: 0.7em;
  }

}

.is-stuck {
  transform: translateY(0%);
  // box-shadow: 0 -3px 5px 2px #C1C1C1;

  .header-wrapper {
    border: none;
  }
}

.logo-mark {
  display: none;
}

.isnot-stuck {}

.header-logo {
  width: 40px;
}

.header-nav {
  list-style: none;
}

.header-nav-item {
  float: left;
}

.page-header {
  text-align: center;
  margin-bottom: 2em;
  margin-top: 3em;

  @include drop-shadow();
}

.header-nav-link {
  color: #2c3e50;
  padding-left: 1em;
  font-size: 30px;
  display: block;
  width: 80px;
  float: right;

  @include respond-to(600, 'max') {
  }

  @include respond-to(400, 'max') {
  }

  img {
    vertical-align: middle;
  }

  &:hover {
    // opacity: 0.6;
  }
}

.header-back-link {
  text-decoration: none;
  font-size: 36px;
  color: color(darkblue);

  &:hover {
    color: color(darkblue);
  }

  @include respond-to(600, 'max') {
    text-align: left;
    width: 100%;
  }

  @include respond-to(500, 'max') {
    // font-size: 40px;
  }

}

#breadcrumbs {
  font-size: $font-xxs;
  a {
    // border: none;
    // box-shadow: none;
  }
}
